<title>Stargazers</title>

<!-- Meta Tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<%= csrf_meta_tags %>

<!-- Stylesheets -->
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<!-- Scripts -->
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

<!-- CDNs -->
<script src="https://use.fontawesome.com/e7a49fb2ad.js"></script>